.landing {
  background-image: url('https://64.media.tumblr.com/c6abc7cb89f8487010b931658163e779/tumblr_nyq27ffcyu1qzfyrno1_1280.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
