#navbar {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(220, 220, 220);

  h2 {
    width: 60%;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;

    li {
      font-size: 20px;

      a {
        color: #000;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
